SET NOCOUNT ON;
GO

IF DB_ID(N'УчетОборудованияОбщепита') IS NULL
BEGIN
    CREATE DATABASE [УчетОборудованияОбщепита];
END;
GO

USE [УчетОборудованияОбщепита];
GO

IF OBJECT_ID(N'[ОбращенияКАдминистрации]', N'U') IS NOT NULL DROP TABLE [ОбращенияКАдминистрации];
IF OBJECT_ID(N'[СанитарныеОбработки]', N'U') IS NOT NULL DROP TABLE [СанитарныеОбработки];
IF OBJECT_ID(N'[ПлановоеОбслуживание]', N'U') IS NOT NULL DROP TABLE [ПлановоеОбслуживание];
IF OBJECT_ID(N'[Замены]', N'U') IS NOT NULL DROP TABLE [Замены];
IF OBJECT_ID(N'[Ремонты]', N'U') IS NOT NULL DROP TABLE [Ремонты];
IF OBJECT_ID(N'[ЗаявкиНаРемонт]', N'U') IS NOT NULL DROP TABLE [ЗаявкиНаРемонт];
IF OBJECT_ID(N'[ИсторияЭксплуатации]', N'U') IS NOT NULL DROP TABLE [ИсторияЭксплуатации];
IF OBJECT_ID(N'[Оборудование]', N'U') IS NOT NULL DROP TABLE [Оборудование];
IF OBJECT_ID(N'[Пользователи]', N'U') IS NOT NULL DROP TABLE [Пользователи];
IF OBJECT_ID(N'[Роли]', N'U') IS NOT NULL DROP TABLE [Роли];
GO

CREATE TABLE [Роли]
(
    [КодРоли] INT IDENTITY(1,1) PRIMARY KEY,
    [НазваниеРоли] NVARCHAR(100) NOT NULL UNIQUE,
    [Описание] NVARCHAR(250) NOT NULL
);
GO

CREATE TABLE [Пользователи]
(
    [КодПользователя] INT IDENTITY(1,1) PRIMARY KEY,
    [Логин] NVARCHAR(50) NOT NULL UNIQUE,
    [Пароль] NVARCHAR(50) NOT NULL,
    [ФИО] NVARCHAR(120) NOT NULL,
    [Должность] NVARCHAR(100) NOT NULL,
    [Телефон] NVARCHAR(30) NOT NULL,
    [ЭлектроннаяПочта] NVARCHAR(100) NOT NULL,
    [КодРоли] INT NOT NULL,
    CONSTRAINT [FK_Пользователи_Роли] FOREIGN KEY ([КодРоли]) REFERENCES [Роли]([КодРоли])
);
GO

CREATE TABLE [Оборудование]
(
    [КодОборудования] INT IDENTITY(1,1) PRIMARY KEY,
    [Наименование] NVARCHAR(120) NOT NULL,
    [Модель] NVARCHAR(80) NOT NULL,
    [Тип] NVARCHAR(80) NOT NULL,
    [ИнвентарныйНомер] NVARCHAR(30) NOT NULL UNIQUE,
    [ДатаВводаВЭксплуатацию] DATE NOT NULL,
    [МестоУстановки] NVARCHAR(120) NOT NULL,
    [ОтветственноеЛицо] INT NOT NULL,
    [ТекущееСостояние] NVARCHAR(80) NOT NULL,
    [СрокСлужбыЛет] TINYINT NOT NULL,
    CONSTRAINT [FK_Оборудование_Пользователи] FOREIGN KEY ([ОтветственноеЛицо]) REFERENCES [Пользователи]([КодПользователя])
);
GO

CREATE TABLE [ИсторияЭксплуатации]
(
    [КодЗаписиИстории] INT IDENTITY(1,1) PRIMARY KEY,
    [КодОборудования] INT NOT NULL,
    [ДатаСобытия] DATE NOT NULL,
    [Событие] NVARCHAR(120) NOT NULL,
    [Описание] NVARCHAR(250) NOT NULL,
    [Ответственный] INT NOT NULL,
    CONSTRAINT [FK_История_Оборудование] FOREIGN KEY ([КодОборудования]) REFERENCES [Оборудование]([КодОборудования]),
    CONSTRAINT [FK_История_Пользователи] FOREIGN KEY ([Ответственный]) REFERENCES [Пользователи]([КодПользователя])
);
GO

CREATE TABLE [ЗаявкиНаРемонт]
(
    [КодЗаявки] INT IDENTITY(1,1) PRIMARY KEY,
    [КодОборудования] INT NOT NULL,
    [ДатаВыявленияНеисправности] DATE NOT NULL,
    [ОписаниеПроблемы] NVARCHAR(300) NOT NULL,
    [СтатусЗаявки] NVARCHAR(80) NOT NULL,
    [ПлановаяДатаЗавершения] DATE NOT NULL,
    [ФактическаяДатаЗавершения] DATE NULL,
    [ПереданоВСервиснуюОрганизацию] BIT NOT NULL,
    [СервиснаяОрганизация] NVARCHAR(120) NULL,
    [Инициатор] INT NOT NULL,
    CONSTRAINT [FK_Заявки_Оборудование] FOREIGN KEY ([КодОборудования]) REFERENCES [Оборудование]([КодОборудования]),
    CONSTRAINT [FK_Заявки_Пользователи] FOREIGN KEY ([Инициатор]) REFERENCES [Пользователи]([КодПользователя])
);
GO

CREATE TABLE [Ремонты]
(
    [КодРемонта] INT IDENTITY(1,1) PRIMARY KEY,
    [КодЗаявки] INT NOT NULL,
    [ВидРемонта] NVARCHAR(80) NOT NULL,
    [Исполнитель] INT NOT NULL,
    [ИспользованныеМатериалыИЗапчасти] NVARCHAR(250) NOT NULL,
    [ИтоговоеСостояниеОборудования] NVARCHAR(100) NOT NULL,
    [Стоимость] DECIMAL(10,2) NOT NULL,
    CONSTRAINT [FK_Ремонты_Заявки] FOREIGN KEY ([КодЗаявки]) REFERENCES [ЗаявкиНаРемонт]([КодЗаявки]),
    CONSTRAINT [FK_Ремонты_Пользователи] FOREIGN KEY ([Исполнитель]) REFERENCES [Пользователи]([КодПользователя])
);
GO
CREATE TABLE [Замены]
(
    [КодЗамены] INT IDENTITY(1,1) PRIMARY KEY,
    [КодОборудования] INT NOT NULL,
    [ПричинаЗамены] NVARCHAR(200) NOT NULL,
    [ПереченьЗамененныхЭлементов] NVARCHAR(200) NOT NULL,
    [ДатаЗамены] DATE NOT NULL,
    [Стоимость] DECIMAL(10,2) NOT NULL,
    [ОтветственныйСотрудник] INT NOT NULL,
    CONSTRAINT [FK_Замены_Оборудование] FOREIGN KEY ([КодОборудования]) REFERENCES [Оборудование]([КодОборудования]),
    CONSTRAINT [FK_Замены_Пользователи] FOREIGN KEY ([ОтветственныйСотрудник]) REFERENCES [Пользователи]([КодПользователя])
);
GO

CREATE TABLE [ПлановоеОбслуживание]
(
    [КодПлана] INT IDENTITY(1,1) PRIMARY KEY,
    [КодОборудования] INT NOT NULL,
    [ВидОбслуживания] NVARCHAR(120) NOT NULL,
    [Периодичность] NVARCHAR(80) NOT NULL,
    [ПлановаяДата] DATE NOT NULL,
    [ДатаВыполнения] DATE NULL,
    [Статус] NVARCHAR(80) NOT NULL,
    [Ответственный] INT NOT NULL,
    CONSTRAINT [FK_ПлановоеОбслуживание_Оборудование] FOREIGN KEY ([КодОборудования]) REFERENCES [Оборудование]([КодОборудования]),
    CONSTRAINT [FK_ПлановоеОбслуживание_Пользователи] FOREIGN KEY ([Ответственный]) REFERENCES [Пользователи]([КодПользователя])
);
GO

CREATE TABLE [СанитарныеОбработки]
(
    [КодОбработки] INT IDENTITY(1,1) PRIMARY KEY,
    [КодОборудования] INT NOT NULL,
    [ДатаПроведения] DATE NOT NULL,
    [ВидОбработки] NVARCHAR(120) NOT NULL,
    [ИспользуемоеСредство] NVARCHAR(120) NOT NULL,
    [Исполнитель] INT NOT NULL,
    [ОтметкаОВыполнении] NVARCHAR(80) NOT NULL,
    [СоблюдениеНорм] NVARCHAR(80) NOT NULL,
    CONSTRAINT [FK_СанитарныеОбработки_Оборудование] FOREIGN KEY ([КодОборудования]) REFERENCES [Оборудование]([КодОборудования]),
    CONSTRAINT [FK_СанитарныеОбработки_Пользователи] FOREIGN KEY ([Исполнитель]) REFERENCES [Пользователи]([КодПользователя])
);
GO

CREATE TABLE [ОбращенияКАдминистрации]
(
    [КодОбращения] INT IDENTITY(1,1) PRIMARY KEY,
    [ДатаОбращения] DATE NOT NULL,
    [Тема] NVARCHAR(150) NOT NULL,
    [ТекстСообщения] NVARCHAR(300) NOT NULL,
    [Статус] NVARCHAR(80) NOT NULL,
    [Отправитель] INT NOT NULL,
    [ОтветственныйАдминистратор] INT NOT NULL,
    CONSTRAINT [FK_Обращения_Отправитель] FOREIGN KEY ([Отправитель]) REFERENCES [Пользователи]([КодПользователя]),
    CONSTRAINT [FK_Обращения_Администратор] FOREIGN KEY ([ОтветственныйАдминистратор]) REFERENCES [Пользователи]([КодПользователя])
);
GO

INSERT INTO [Роли] ([НазваниеРоли], [Описание]) VALUES
(N'Администратор', N'Полный доступ к системе.'),
(N'Управляющий', N'Контролирует работу заведения и состояние оборудования.'),
(N'Мастер сервисной организации', N'Выполняет ремонт и обслуживание оборудования.'),
(N'Повар', N'Сообщает о неисправностях.'),
(N'Кладовщик', N'Учитывает детали и материалы.');
GO

;WITH Числа AS (SELECT TOP (30) ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS Номер FROM sys.all_objects)
INSERT INTO [Пользователи] ([Логин], [Пароль], [ФИО], [Должность], [Телефон], [ЭлектроннаяПочта], [КодРоли])
SELECT CONCAT(N'user', Номер), CONCAT(N'pass', Номер), CONCAT(N'Сотрудник ', Номер), CHOOSE(((Номер - 1) % 5) + 1, N'Администратор', N'Управляющий', N'Повар', N'Кладовщик', N'Мастер сервисной организации'), CONCAT(N'+7-900-200-', RIGHT(CONCAT(N'0000', Номер * 9), 4)), CONCAT(N'user', Номер, N'@mail.local'), ((Номер - 1) % 5) + 1
FROM Числа;
GO

;WITH Числа AS (SELECT TOP (30) ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS Номер FROM sys.all_objects)
INSERT INTO [Оборудование] ([Наименование], [Модель], [Тип], [ИнвентарныйНомер], [ДатаВводаВЭксплуатацию], [МестоУстановки], [ОтветственноеЛицо], [ТекущееСостояние], [СрокСлужбыЛет])
SELECT CHOOSE(((Номер - 1) % 8) + 1, N'Пароконвектомат', N'Конвекционная печь', N'Электроплита', N'Холодильный шкаф', N'Мясорубка', N'Овощерезка', N'Посудомоечная машина', N'Вытяжной зонт') + N' №' + CAST(Номер AS NVARCHAR(10)), CONCAT(N'Модель-', Номер), CHOOSE(((Номер - 1) % 5) + 1, N'Тепловое', N'Холодильное', N'Механическое', N'Моечное', N'Вентиляционное'), CONCAT(N'ИНВ-', 1000 + Номер), DATEADD(DAY, -Номер * 25, CAST('2026-03-31' AS DATE)), CHOOSE(((Номер - 1) % 5) + 1, N'Горячий цех', N'Холодный цех', N'Мясной цех', N'Овощной цех', N'Моечное отделение', N'Линия раздачи'), ((Номер - 1) % 30) + 1, CHOOSE(((Номер - 1) % 4) + 1, N'Исправно', N'Требует осмотра', N'На ремонте', N'После санитарной обработки'), 5 + (Номер % 8)
FROM Числа;
GO
;WITH Числа AS (SELECT TOP (30) ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS Номер FROM sys.all_objects)
INSERT INTO [ИсторияЭксплуатации] ([КодОборудования], [ДатаСобытия], [Событие], [Описание], [Ответственный])
SELECT Номер, DATEADD(DAY, -Номер * 3, CAST('2026-03-31' AS DATE)), CHOOSE(((Номер - 1) % 4) + 1, N'Ввод в эксплуатацию', N'Осмотр', N'Перемещение', N'Изменение состояния'), CONCAT(N'Зафиксировано событие по оборудованию №', Номер, N'.'), ((Номер + 2 - 1) % 30) + 1
FROM Числа;
GO

;WITH Числа AS (SELECT TOP (30) ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS Номер FROM sys.all_objects)
INSERT INTO [ЗаявкиНаРемонт] ([КодОборудования], [ДатаВыявленияНеисправности], [ОписаниеПроблемы], [СтатусЗаявки], [ПлановаяДатаЗавершения], [ФактическаяДатаЗавершения], [ПереданоВСервиснуюОрганизацию], [СервиснаяОрганизация], [Инициатор])
SELECT Номер, DATEADD(DAY, -Номер, CAST('2026-03-31' AS DATE)), CONCAT(N'Обнаружена неисправность оборудования №', Номер, N'.'), CHOOSE(((Номер - 1) % 4) + 1, N'Новая', N'В работе', N'Передана в сервис', N'Закрыта'), DATEADD(DAY, 3 + Номер, CAST('2026-03-01' AS DATE)), CASE WHEN Номер % 4 = 0 THEN DATEADD(DAY, 4 + Номер, CAST('2026-03-01' AS DATE)) ELSE NULL END, CASE WHEN Номер % 3 = 0 THEN 1 ELSE 0 END, CASE WHEN Номер % 3 = 0 THEN N'Сервис-Тех' ELSE NULL END, ((Номер + 5 - 1) % 30) + 1
FROM Числа;
GO

;WITH Числа AS (SELECT TOP (30) ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS Номер FROM sys.all_objects)
INSERT INTO [Ремонты] ([КодЗаявки], [ВидРемонта], [Исполнитель], [ИспользованныеМатериалыИЗапчасти], [ИтоговоеСостояниеОборудования], [Стоимость])
SELECT Номер, CHOOSE(((Номер - 1) % 4) + 1, N'Плановый', N'Аварийный', N'Капитальный', N'Профилактический'), ((Номер + 8 - 1) % 30) + 1, CHOOSE(((Номер - 1) % 5) + 1, N'Подшипник, смазка', N'Компрессор, хладагент', N'Нагревательный элемент, кабель', N'Фильтр, крепеж', N'Реле, проводка'), CHOOSE(((Номер - 1) % 4) + 1, N'Исправно', N'Требует наблюдения', N'Работоспособно', N'Частично восстановлено'), CAST(3500 + Номер * 210 AS DECIMAL(10,2))
FROM Числа;
GO

;WITH Числа AS (SELECT TOP (30) ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS Номер FROM sys.all_objects)
INSERT INTO [Замены] ([КодОборудования], [ПричинаЗамены], [ПереченьЗамененныхЭлементов], [ДатаЗамены], [Стоимость], [ОтветственныйСотрудник])
SELECT Номер, CHOOSE(((Номер - 1) % 5) + 1, N'Износ', N'Поломка', N'Устаревание', N'Плановая замена', N'Несоответствие нормам'), CHOOSE(((Номер - 1) % 5) + 1, N'Нагревательный элемент', N'Компрессор', N'Подшипник', N'Панель управления', N'Уплотнитель'), DATEADD(DAY, -Номер * 2, CAST('2026-03-31' AS DATE)), CAST(1800 + Номер * 170 AS DECIMAL(10,2)), ((Номер + 10 - 1) % 30) + 1
FROM Числа;
GO

;WITH Числа AS (SELECT TOP (30) ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS Номер FROM sys.all_objects)
INSERT INTO [ПлановоеОбслуживание] ([КодОборудования], [ВидОбслуживания], [Периодичность], [ПлановаяДата], [ДатаВыполнения], [Статус], [Ответственный])
SELECT Номер, CHOOSE(((Номер - 1) % 4) + 1, N'Технический осмотр', N'Смазка узлов', N'Проверка электрики', N'Профилактическая чистка'), CHOOSE(((Номер - 1) % 3) + 1, N'Еженедельно', N'Ежемесячно', N'Ежеквартально'), DATEADD(DAY, Номер, CAST('2026-04-01' AS DATE)), CASE WHEN Номер % 5 = 0 THEN DATEADD(DAY, Номер - 1, CAST('2026-04-01' AS DATE)) ELSE NULL END, CHOOSE(((Номер - 1) % 3) + 1, N'Запланировано', N'Выполнено', N'Просрочено'), ((Номер + 12 - 1) % 30) + 1
FROM Числа;
GO

;WITH Числа AS (SELECT TOP (30) ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS Номер FROM sys.all_objects)
INSERT INTO [СанитарныеОбработки] ([КодОборудования], [ДатаПроведения], [ВидОбработки], [ИспользуемоеСредство], [Исполнитель], [ОтметкаОВыполнении], [СоблюдениеНорм])
SELECT Номер, DATEADD(DAY, -Номер, CAST('2026-03-31' AS DATE)), CHOOSE(((Номер - 1) % 4) + 1, N'Мойка', N'Дезинфекция', N'Обезжиривание', N'Комплексная обработка'), CHOOSE(((Номер - 1) % 4) + 1, N'Щелочное средство', N'Антисептик', N'Пенный очиститель', N'Хлорсодержащий раствор'), ((Номер + 15 - 1) % 30) + 1, CHOOSE(((Номер - 1) % 3) + 1, N'Выполнено', N'Выполнено с замечанием', N'Требуется повтор'), CHOOSE(((Номер - 1) % 3) + 1, N'Соблюдено', N'Частично соблюдено', N'Требует проверки')
FROM Числа;
GO

;WITH Числа AS (SELECT TOP (30) ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS Номер FROM sys.all_objects)
INSERT INTO [ОбращенияКАдминистрации] ([ДатаОбращения], [Тема], [ТекстСообщения], [Статус], [Отправитель], [ОтветственныйАдминистратор])
SELECT DATEADD(DAY, -Номер, CAST('2026-03-31' AS DATE)), CHOOSE(((Номер - 1) % 4) + 1, N'Жалоба на сроки ремонта', N'Передача заявки в сервис', N'Запрос на закупку детали', N'Сообщение о нарушении санитарных норм'), CONCAT(N'Обращение №', Номер, N' зарегистрировано и требует рассмотрения.'), CHOOSE(((Номер - 1) % 4) + 1, N'Новое', N'Рассматривается', N'Исполнено', N'Закрыто'), ((Номер + 3 - 1) % 30) + 1, 1
FROM Числа;
GO

SELECT N'Роли' AS [Таблица], COUNT(*) AS [КоличествоЗаписей] FROM [Роли]
UNION ALL SELECT N'Пользователи', COUNT(*) FROM [Пользователи]
UNION ALL SELECT N'Оборудование', COUNT(*) FROM [Оборудование]
UNION ALL SELECT N'ИсторияЭксплуатации', COUNT(*) FROM [ИсторияЭксплуатации]
UNION ALL SELECT N'ЗаявкиНаРемонт', COUNT(*) FROM [ЗаявкиНаРемонт]
UNION ALL SELECT N'Ремонты', COUNT(*) FROM [Ремонты]
UNION ALL SELECT N'Замены', COUNT(*) FROM [Замены]
UNION ALL SELECT N'ПлановоеОбслуживание', COUNT(*) FROM [ПлановоеОбслуживание]
UNION ALL SELECT N'СанитарныеОбработки', COUNT(*) FROM [СанитарныеОбработки]
UNION ALL SELECT N'ОбращенияКАдминистрации', COUNT(*) FROM [ОбращенияКАдминистрации]
ORDER BY [Таблица];
GO


